<h1>Admin::Books#new</h1>
<p>Find me in app/views/admin/books/new.html.erb</p>

<h1>Add New Book</h1>

<%= render 'form', book: @book %>

<%= link_to 'New Book', new_admin_book_path %>
<%#= link_to 'Back', admin_books_path %>
