<% if notice %>
  <div class="c-section">
    <p class="alert alert-success"><%= notice %></p>
<% end %>

<% if alert %>
  <div class="c-section">
    <p class="alert alert-danger"><%= alert %></p>
  </div>
<% end %>


