<div class="c-section">
  <ul class="c-navigation">
    <li class="c-navigation__item">
      <%= image_tag("book-stack-64.png") %>
    </li>
    <li class="c-navigation__item">
      <a class="c-navigation__link c-navigation__link--active" href="#">Navigation Link</a>
    </li>
    <li class="c-navigation__item">
      <a class="c-navigation__link" href="#">Navigation Link</a>
    </li>
    <li class="c-navigation__item">
      <a class="c-navigation__link" href="#">Navigation Link</a>
    </li>
    <li class="c-navigation__item c-navigation__item--push-right">
      <%= link_to 'Books', "/#{params[:controller]}", class: "c-button c-button--focal" %>
    </li>
    <li class="c-navigation__item">
      <a class="c-button c-button--focal" href="#">Authors</a>
    </li>
  </ul>
</div>
